<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
</head>
<body>
    <table style="width:40%">
        <tr>

          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
        <tr style="height:20px">
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
      <tr>
        <td>Hellen</td>
        <td>Bennett</td>
        <td>62</td>
      </tr>
    </table>
<p class="titlu">buna</p>
<p class="oblic">hello</p>
<p id="ad">Adelina</p>
<p class="titlu">Adelina Oprisoru</p>

<div class="w3-container">
  <h1>Acesta este un titlu.</h1>
  <p>Acesta este un paragraf.</p>
</div>
</body>
</html>
